<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/ProductDetailStyles.css">
    <%- include('partial/head') %> 
</head>
<body>
  <%- include('partial/header') %>
<main>
    <% if(typeof product != "undefined"){%>
    <section class="top-section">

             <div class="cajas-top-section1">   
                <img class="img-carrusel" src="/imagenes/productos/<%= product.imagen  %> " alt="Imagen Producto Seleccionado">
            </div>    
    
            <div class="cajas-top-section2">
            <div class="IMG-Producto">

                <h3 style="text-transform: uppercase;"><%= product.nombre %></h3>

                    <div class="div-desplegables">
                        <p> Color Estructura </p>           
                        <select name="color" id="color">
                            <option value="r"><%= product.color  %></option>
                            <!-- <option value="a"><%= //product.color2  %></option>
                            <option value="v"><%= //product.color3  %></option> -->
                        </select>
                    </div>

                    <div class="div-desplegables">
                        <p> Madera </p>
                        <select name="color" id="color">
                            <option value="r"><%= product.material.nombre %></option>
                            <!-- <option value="a">Pino</option>
                            <option value="v">Eucalipto</option>
                            <option value="v">Paraiso</option> -->
                        </select>
                    </div>

                    <div class="div-desplegables">
                        <p> Medidas(Alto Total x Alto asiento x Ancho x Profundo) </p>
                        <select name="color" id="color">
                            <option value="r"><%= product.altura %> cm x 70cm x <%= product.anchura %>cm x 30cm</option>
                            <option value="a">75cm x 50cm x 30cm x 30cm</option>
                            <option value="v">65cm x 400cm x 30cm x 30cm</option>
                        </select>
                </div>                
            </div>
            </div>
              
            <div class="cajas-top-section3">
            <div class="envio">
                <div>
                    <h2>$<%= product.precio %> </h2>
                        <div class="cp">
                            <i class="fas fa-truck"> </i> "Valor Envio $"
                                <div class="form" action="#" method="GET" >
                                    <div class="input"></i>"Codigo Postal"  <i class="fa fa-search"></i></div>
                                    <div class="submit"></div>
                                </div>
                        </div>
                
                    <h3>¡DISPONIBLE EN 10 DIAS!</h3>

                    <div class="add-carrito">
                        <i class="fas fa-shopping-cart"></i> Agregar al Carrito   
                    </div>
                    <div class="comprar">
                        Comprar  
                    </div>
                </div>
            </div>
            </div>

     </section>

    <section class="descripcion">
       
        <div>
            <h2>Detalles de Producto</h2>
            
                  <p><strong><%= product.descripcion %></strong>
                    <br>
                    Excelente taburete con una combinación perfecta con Guayubira de 1 1/2" en la base,
                     y de 1" de espesor en el respaldo.
                    Protegida con laca poliuretanica bi-componente mate👏👏👏
                    Fabricado en caño estructural cuadrado 20x20x1.6.
                    
                </p>
        </div>
    </section>
    <% }%>
</main>
<%- include('partial/footer') %>
</body>

</html>
<script type="text/javascript" src="js/header.js"></script>
