<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/productadmin.css" />
    <link rel="stylesheet" href="./css\slider.css" />
    <link rel="stylesheet" href="./css\categoria.css" />
    <link rel="stylesheet" href="./css\cajaprod1.css" />
    <%- include('partial/head') %>
    <link rel="stylesheet" href="css/footer.css"> 
    <link rel="stylesheet" href="./css\filtrosyorg.css" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/efecb5d88a.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <header>
    <%- include('partial/header') %>
</header>
<main>
<div class="cajageneral">
    <% productslectura.forEach(prod=>{%>
      <a href="/productedit/<%= prod.id %> "> 
      <div class="cajatotallista">
        <div class="cajaimg">
          <img class="imagenes1" src="/imagenes/productos/<%= prod.img %>" alt=""> 
        </div>
      <div class="cloumnbox">
        <div class="nombrecampo">
          <div class="divisores">
<p class="campos1">DESCRIPCION</p>
</div>
<div class="divisores">
<p class="campos1">COLOR</p>
</div>
<div class="divisores">
<p class="campos1">PRECIO</p>
</div>
<div class="divisores">
<p class="campos1">STOCK</p>
</div>

        </div>
        <div class="autogen">
          
          <div class="cajainfo">
            <div class="campos">
              <p class="fonts"><%= prod.nombre.toUpperCase()%></p>

            </div>
            <div class="campos">
            <p class="fonts"><%= prod.color.toUpperCase() %></p>
          </div>
            <div class="campos">     
            <p class="fonts"><%= prod.precio %>$</p>
            </div>
            <div class="campos">      
            <p class="fonts"><%= prod.stock %></p>
          </div>  
          </div>
        </div>
      </div>
            
          
            <form action="/productsadmin/<%= prod.id %>?_method=DELETE" method="post">
            <% prod.id %>
            <button type="submit" class="delete"><i class="fa-solid fa-trash"></i></button>
          </form>
      </div>
      </a>
    <%})%>
          

</div>





</main>
  </body>
  <script>
    document.getElementById("myButton").addEventListener("click", function(){
      alert("Button was clicked!");
    });
  </script>