<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b7eff94083.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head')  %>
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Tu perfil</title>
</head>
<body>
    <%- include('partial/header')  %>
    <main>
        
        <div class="informacion1">
            <h2 class="saludo">Hola <%= user.nombre %></h2>
            <div class="informacion">
                <div class="datos">
                    <p class="titulo">Datos registrados</p>
                    <form action="/profile/<%= user.id %>?_method=PUT" method="post">
                        <div>
                            <label for="email">Email registrado</label><br>
                            <input type="text" id="email" name="email" value="<%= user.email %>">
                        </div>
                        <% if(user.numero!=null&&user.numero!=0){ %>
                        <div>
                                <label for="numero">Numero registrado</label><br>
                                <input type="number" id="numero" name="numero" value="<%= user.numero %>">
                        </div>
                        <% } %>
                        <% if(user.direccion!=null&&user.direccion!=""){ %>
                            <div>
                                <label for="direccion">Dirección registrada</label><br>
                                <input type="text" id="direccion" name="direccion" value="<%= user.direccion %>">
                            </div>
                        <% } %>
                        <section class="boton">
                            <button type="submit">Actualizar información</button>
                        </section>
                    </form>
                </div>
                <% if(user.direccion==null||user.direccion==""||user.numero==null||user.numero==""){ %>
                <div class="datos">
                    <p class="titulo">Datos adicionales</p>
                    <form action="/profile/<%= user.id %>?_method=PUT"method="post">
                        <% if(user.direccion==null||user.direccion==""){ %>
                            <div>
                                <label for="direccion">Agregar dirección</label><br>
                                <input id="direccion" name="direccion" type="text" placeholder="Ingrese la direccion aqui">
                            </div>
                            <% } %>
                        <% if(user.numero==null||user.numero==""){ %>
                            <div>
                                <label for="numero">Agregar numero</label><br>
                                <input id="numero"name="numero" type="tel">
                            </div>
                        <% } %>
                        <section class="boton">
                            <button type="submit">Agregar información</button>
                        </section>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
        <div class="botones">
            <form action="/profile/<%= user.id %>?_method=DELETE" method="post">
                <button type="submit">Borrar cuenta</button>
            </form>
            <form action="/logout">
                <button type="submit">Cerrar sesión</button>
            </form>
        </div>
    </main>
    <%- include('partial/footer')  %>
</body>
</html>