<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b7eff94083.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/footer.css"> 
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <%- include('partial/head') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <%- include('partial/header') %>
    <main>
        <div class="conteiner">
            
            <h2>Creá tu cuenta</h2>
            <form class="form-login" action="/register" method="post" >
                <div class="separacion">
                    <div class="form-control <%= locals.errors && errors.nombre ? 'error' : null %>" id="control-nombre">
                        <label for="nombre">Ingrese nombre y apellido</label>
                        <input
                        onblur=""
                        type="text"
                        id="nombre" 
                        name="nombre"
                        class=""
                        value="<%= locals.oldData ? oldData.nombre : null %>"
                        
                        
                        <% if(locals.errors && errors.nombre){ %>
                            
                            placeholder="<%= errors.nombre.msg %>"
                            
                        <% }else{ %>
                            placeholder="ej: Carlos Rodriguez"
                                
                        <% } %> 
                        >
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="separacion">
                    <div class="form-control <%= locals.errors && errors.email ? 'error' : null %>" id="control-email">
                        <label for="email">
                            <% if(locals.errors && errors.email){ %>
                                <%= errors.email.msg %>                
                            <% }else{ %>
                                Ingrese correo electrónico
                            <% } %>
                            
                        </label>
                        <input 
                        type="text" 
                        id="email" 
                        name="email"
                        class=""
                        value="<%= locals.oldData ? oldData.email : null %>"
                        placeholder="ej: tuNombre@emial.com"                         
                        >
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="separacion">
                    <div class="form-control <%= locals.errors && errors.contrasena ? 'error' : null %>" id="control-contrasena">
                        <label for="contrasena">Ingrese contraseña</label>
                        <input 
                        type="password" 
                        id="contrasena" 
                        name="contrasena"
                        class=""
                        <% if(locals.errors && errors.contrasena){ %>
                            placeholder="<%= errors.contrasena.msg %>"
                        <% }else{ %>
                            placeholder="Minimo 8 caracteres y una mayúscula"        
                        <% } %> 
                        >
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="separacion">
                    <div class="form-control <%= locals.errors && errors.contrasena2 ? 'error' : null %>"id="control-contrasena2">
                        <label for="contrasena2">Confirme la contraseña</label>
                        <input 
                        type="password" 
                        id="contrasena2" 
                        name="contrasena2"
                        class=""
                        <% if(locals.errors && errors.contrasena2){ %>
                            placeholder="<%= errors.contrasena2.msg %>"      
                        <% } %>
                        >
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                </div>
                <div class="crear">
                    <input type="submit" value="Crear">
                </div>
                </form>
                    <a href="" class="google-celu"><img src="https://app.nudgify.com/images/google-logo.png" alt="">Crear con Google</a>
                    <p class="condiciones">Al crear una cuenta, aceptas las <a href="">Condiciones de Uso</a> y el <a href="">Aviso de Privacidad</a> de ElPortal.com.</p>
            
        </div>
        <div class="caja2">
          <p>¿Ya tienes una cuenta? <a href="/login"> Iniciar sesión</a></p>  
        </div>
        
            
            
        </div>
    </main>
    <%- include('partial/footer') %>
</body>
<script type="text/javascript" src="js/validatorRegister.js"></script>
</html>